body{
	background-color: #ccc;
}
h1 {
	font-size: 18px;
	color: #0058e8;
	font-weight: bold;
}

p{
	font-size: 16px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul{
	margin-left: 2px;
	list-style-type: none;
}

li{
	font-size: 14px;
}

img{
	width: 200px;
}

#slogan {
	font-style: italic;
}
a{
	text-decoration: underline;
}